@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    background-image: url("../images/house.png");
    background-repeat: no-repeat;
    background-size: 60%; /* Adjust to make the background image smaller */
    background-position: top right; /* Align the background image to the top right */
    background-position-x: 493px; /* Move the background image to the left by 20px */
    background-position-y: 30px; /* Move the background image down by 30px */
    margin: 0px 60px 20px 20px; /* Remove default body margin */
}

#about .container {
    height: 100vh; /* Set the container height to 100% of the viewport height */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the content to the very left */
}

h3 span {
    color: #f0f424;
    margin-left: 10px;
    font-size: 30px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-left: 20px; /* Adjust the margin to move the title to the left */
}

.content-container {
    display: flex;
    align-items: center; /* Align items in the center vertically */
    flex-wrap: wrap;
    z-index: 2;
    width: 60%;
    margin-top: -160px; /* Adjust to control the vertical position of the content */
    margin-left: 35px;
}

.title, .sentence {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.title {
    font-size: 70px;
    margin-bottom: 10px; /* Adjust spacing between title and sentence */
}

.sentence {
    font-size: 16px; /* Adjust sentence font size */
    margin: 20px 10px 0 20px; /* Adjust margin for the sentence */
}
