#about .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    width: 50%;
}

.title {
    color: white;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 14px 10px 10px 49px;
    line-height: 33.863px;
}

.image-container {
    display: flex;
    justify-content: flex-end; /* Align the content to the end (right side) */
    align-items: flex-start; /* Align to the top */
}

.image-container img {
    width: 780px;
    height: 792px;
    margin: 20px 20px 0 auto; /* Top, right, bottom, left */
    display: block; /* Remove the unnecessary 'display: flex;' */
}
