* {
  font-family: 'Poppins', sans-serif;
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
}
.svg-container2 {
  position: relative; /* Make sure the container is positioned relative */
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  z-index: 0; /* Set a lower z-index so it goes behind the background */
}
.svg-container2 svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
img.logo {
  width: 300px;
  height: 90px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul button:hover {
  background: #ffc400;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #F1C94B;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav .fa-solid {
  display: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}
::selection {
  background: #FF6600;
  color: #ffffff;
}
/* NAVBAR */
.navbar {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(119.83deg, rgba(183, 183, 183, 0.7) 24.67%, rgba(0, 0, 0, 0.4) 76.97%);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(227, 227, 227);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  align-items: center;
  z-index: 5;
  margin: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin: 0; /* Removing default margin */
  padding: 0; /* Removing default padding */
}
.navbar ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.23s;
  margin: -5px;
}
.navbar ul li {
  display: flex;
  align-items: center;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.icon:hover {
  color: #2d2e32;
  transition: all 0.3s;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
    font-size: 27px;
  }
  .icon.hide {
    display: none;
  }
  .contact-row {
    display: none;
  }
  .navbar {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 100%;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    left: -100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    background: #ff6600;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin: 10px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}