html {
  scroll-behavior: smooth;
}
/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}
::selection {
  background: #FF6600;
  color: #ffffff;
}