.incomeContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.incomeForm, table {
  width: 100%;
  border-collapse: collapse;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button.addIncome {
  background-color: #FFC800;
  color: #ffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

button.addIncome:hover {
  background-color: #E6B800;
}

thead {
  background-color: #333;
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  margin: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.input-container {
  position: relative;
}

.input {
  font-size: 1em;
  padding: 0.6em 1em;
  border: none;
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  max-width: 200px;
  color: #333;
}

.input:hover {
  background-color: #f2f2f2;
}

.input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  color: #999;
}

.highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6c63ff;
  transition: width 0.3s ease;
}

.input:focus + .highlight {
  width: 100%;
}

/* Optional: Animation on focus */
@keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }

  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.input:focus {
  animation: input-focus 0.3s ease;
}






/* Transaction Statistics */
.transaction-statistics {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.transaction-statistics h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.statistics-card {
  background-color: #f0f424; /* Blue card background */
  color: #fff;
  padding: 20px;
  border-radius: black 5px;
  text-align: center;
  margin-bottom: 20px;
}

.statistics-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}



/* Add this CSS for responsiveness */
@media screen and (max-width: 768px) {
  main {
      flex-direction: column;
  }

  .transaction-list,
  .transaction-form,
  .transaction-statistics {
      flex: 1;
      margin: 0 0 20px;
  }
}

/* Adjust the font size for smaller screens */
@media screen and (max-width: 480px) {
  header h1 {
      font-size: 28px;
  }


  .transaction-list h2,
  .transaction-form h2,
  .transaction-statistics h2 {
      font-size: 20px;
  }

  .statistics-card h3 {
      font-size: 16px;
  }
}

/* Improve table responsiveness */
@media screen and (max-width: 768px) {
  table th,
  table td {
      padding: 5px;
      font-size: 14px;
  }
}

.crudButtons {
  display: flex;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 4px 8px;
  border: none;
  color: white;
  margin: 4px;
}

.dangerbtn {
  background-color: #BB2D3B;
}

.infobtn {
  background-color: #31D2F2;
}

.warningbtn {
  background-color: #FFCA2C;
}

